// colors
$off-black: #20222b;
$off-white: #a5afd7;
/*$off-pink-light: #e39295;
$off-pink-dark: #e3470f;*/
$theme-pink-light: #e39295;
$theme-pink-dark: #E3766D;
$golden-yellow-wesbos: #ffc600;
$theme-dimmed-grey: #696969;
$theme-white: #FEFEFE;
$theme-input-text-color: #918c8e;
$theme-matt-blue: #a6c4e7;
$theme-light-yellow: #FFF482;

// spacing
$m-size: 16px;
$l-size: 32px;
$xl-size: 48px;

// width
$header-width: 500px;
